ctransformers==0.2.27
sentence-transformers==2.7.0
langchain==0.1.16
flask==3.0.3
langchain-community==0.0.34
pypdf==4.2.0
llama-cpp-python==0.2.70
python-dotenv
chromadb==0.4.24
langchain-nvidia-ai-endpoints==0.1.1
openai==1.33.0
-e .